li{
    color: black;
}

.tarefa-concluida {
    text-decoration: line-through;
    color: #888;
}

.btn-remover{
    background-color: #ff5757;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}